<p>
  You have added a new authenticator device.
</p>

<p>
  Activate your new device by clicking the following link:
  <br />
  <a href="{{url}}">
    Link
  </a>
</p>

<p>
  This link is only valid for one hour.
</p>