<h1 style="font-family: Helvetica, Arial;">
  Request to add a new Authenticator
</h1>

<p style="font-family: Helvetica, Arial;">
  Hi there, this email contains a link which is going to enable your newly added authenticator. You
  will be able to log in with it right after clicking the link below. If this authenticator was not
  added by you, you can safely ignore this email.
</p>

<p style="font-family: Helvetica, Arial;">
  If you want to log in from another device, you will have to repeat this process for that device
  and register it again.
</p>

<p style="font-family: Helvetica, Arial;">
  Activate your new device by clicking the following link:
  <br />
  <a
    style="display: inline-block; font-family: Helvetica, Arial; background-color: #7C90DB; color: white; padding: 10px 20px; text-decoration: none; margin-top: 24px; border-radius: 4px;"
    href="{{url}}"
  >
    Activate Device
  </a>
</p>

<p style="font-family: Helvetica, Arial;">
  This link is only valid for one hour.
</p>